header{
    color: antiquewhite;
    font-size: 50px;
}

h1{
    margin:0%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-size: large;
}

.submit{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputField{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: darkslategray;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    height: 30px;
    width: 150px;
}

#submitButton{
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    color: beige;
    background-color: darkslategrey;
    font-size: large;
    width: 70px;
    height: 37px;
}

ul{
    margin-top: 10px;
    color: darkslategray;
    font-size: large;
    list-style: none;
}

.listbuttons {
    display: flex;
    align-self: flex-end;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 5px;
    margin-left: 5px;
    background-color: darkslategrey;
    color: antiquewhite;
    border: none;
    border-radius: 4px;
}
