header{
    color: antiquewhite;
    font-size: 50px;
}

h1{
    margin:0%;
}

body {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-size: large;
}

.submit{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputField{
    background-color: antiquewhite;
    color: darkslategray;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    height: 30px;
    width: 150px;
}

#submitButton{
    border: none;
    border-radius: 5px;
    color: beige;
    background-color: darkslategrey;
    font-size: large;
    width: 70px;
    height: 37px;
}

ul{
    color: darkslategray;
    font-size: large;
    list-style: none;
}
